.inputHide{
    width: 100px;
}

body{
 background: white;
}

#alert{
    display: none;
}
.modal-content{
    border: solid 5px rgba(255, 111, 116, 0.95);
    color: rgb(238, 110, 115) !important;
}

#title:hover{
    transition: 700ms;
    box-shadow: 1px 1px 10px 10px white;
    cursor: pointer;
    text-shadow:3px 1px 5px 5px white; ;
}
